.ui-search-price-filter {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ui-search-price-filter-container {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.ui-search-price-filter-container .andes-form-control {
    padding: 0;
}

.andes-form-control--textfield:last-child {
    margin-right: 0;
}

.andes-form-control {
    padding: 0;
}

.andes-form-control--textbox {
    padding-top: 14px;
}

.andes-form-control {
    -webkit-font-smoothing: antialiased;
    display: block;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 0.6666666667em;
    position: relative;
    text-align: left;
}

.andes-form-control--textbox .andes-form-control__control {
    display: block;
}

.andes-form-control__control {
    display: -webkit-flex;
    display: flex;
    color: #ffff;
}


.andes-form-control__border,
.andes-form-control__control,
.andes-form-control__field,
.andes-form-control__label,
.andes-form-control__message {
    display: block;
    width: 100%;
}

.andes-form-control__control {
    position: relative;
}

.ui-search-price-filter-container .andes-form-control .andes-form-control__field {
    border-width: 1px;
    padding: 0;
    color: #ffff;
}

.andes-form-control__control .andes-form-control__field {
    background-color: #fafafa;
    border-color: #777;
    font-size: 13px;
    height: 25px;
    margin: 1px -1px;
    width: 86px;
}

.andes-form-control--textbox .andes-form-control__field {
    border: 0.0555555556em solid rgba(0, 0, 0, .25);
    -webkit-border-radius: 0.2222222222em;
    border-radius: 0.2222222222em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    margin: 4px 0 4px -1px;
    padding: 0.625em 0;
    text-indent: 0.625em;
}

.andes-form-control--textfield .andes-form-control__field {
    height: 24px;
}

.andes-form-control__field {
    background: transparent;
    border: 0;
    color: rgba(0, 0, 0, .8);
    font-family: inherit;
    font-size: inherit;
    line-height: normal;
    margin: 8px 0 4px;
    overflow: hidden;
    padding: 0;
    resize: none;
}

.andes-form-control__border,
.andes-form-control__control,
.andes-form-control__field,
.andes-form-control__label,
.andes-form-control__message {
    display: block;
    width: 100%;
}

.andes-form-control--textbox .andes-form-control__border {
    display: none;
}

.andes-form-control__border {
    background-color: rgba(0, 0, 0, .25);
    height: 1px;
    position: relative;
    width: 100%;
}

.andes-form-control__border,
.andes-form-control__control,
.andes-form-control__field,
.andes-form-control__label,
.andes-form-control__message {
    display: block;
    width: 100%;
}

.ui-search-price-filter-container .andes-form-control__message {
    min-height: 0;
}

.andes-form-control__message {
    color: rgba(0, 0, 0, .45);
    font-size: 14px;
    line-height: 1em;
    margin-top: 0.3333333333em;
    min-height: 14px;
    opacity: 0;
    text-align: left;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
}

.andes-form-control__border,
.andes-form-control__control,
.andes-form-control__field,
.andes-form-control__label,
.andes-form-control__message {
    display: block;
    width: 100%;
}

.ui-search-price-filter-container .andes-form-control .andes-form-control__field {
    border-width: 1px;
    padding: 0;
}

.andes-form-control__control .andes-form-control__field {
    background-color: #6e93d6;
    border-color: #2f4c58;
    font-size: 13px;
    height: 25px;
    margin: 1px -1px;
    width: 86px;
}

.andes-form-control--textbox .andes-form-control__field {
    border: 0.0555555556em solid rgba(0, 0, 0, .25);
    -webkit-border-radius: 0.2222222222em;
    border-radius: 0.2222222222em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    margin: 4px 0 4px -1px;
    padding: 0.625em 0;
    text-indent: 0.625em;
}

.andes-form-control--textfield .andes-form-control__field {
    height: 24px;
}

.andes-form-control__field {
    background: transparent;
    border: 0;
    color: rgba(0, 0, 0, .8);
    font-family: inherit;
    font-size: inherit;
    line-height: normal;
    margin: 8px 0 4px;
    overflow: hidden;
    padding: 0;
    resize: none;
}

.andes-form-control__border,
.andes-form-control__control,
.andes-form-control__field,
.andes-form-control__label,
.andes-form-control__message {
    display: block;
    width: 100%;
}

.ui-search-price-filter-action-btn:disabled {
    background-color: #e0e0e0;
    pointer-events: none;
}

.ui-search-price-filter-action-btn {
    background-color: grey;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 24px;
    margin-left: 8px;
    padding-left: 8px;
    position: relative;
    text-align: center;
    width: 24px;
}

button,
textarea {
    font-family: inherit;
}

.andes-dropdown__arrow {
    background: transparent;
    display: inline-block;
    height: 0.5em;
    margin-left: 8px;
    pointer-events: none;
    position: relative;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    width: 0.75em;
}

.ui-search-price-filter .ui-search-price-filter-container:first-child:after {
    color: #999;
    content: "—";
    float: left;
    font-size: 12px;
    line-height: 2px;
    margin: 0 5px;
    padding: 7px 0;
}


button,
textarea {
    font-family: inherit;
}

.ui-search-price-filter-action-btn .andes-dropdown__arrow:after {
    border-bottom: 0.11111em solid #fafafa;
    border-right: 0.11111em solid #fafafa;
    left: -7px;
    top: -2px;
    -webkit-transform: rotate(310deg);
    transform: rotate(310deg);
}

.andes-dropdown__arrow:after {
    background: inherit;
    border-bottom: 0.0625em solid rgba(0, 0, 0, .55);
    border-right: 0.0625em solid rgba(0, 0, 0, .55);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    height: 0.4375em;
    left: 0.125em;
    position: absolute;
    top: -0.125em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border-color .18s ease-out;
    transition: border-color .18s ease-out;
    width: 0.4375em;
}

.search-icon {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    color: #6e93d6;
    height: 100%;
}

.submit-search {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}